<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - Web Components Club</title>
    <style>{% include "assets/css/global.css" %}</style>
    <link rel="alternate" href="https://webcomponents.club/feed/feed.xml" title="{{ feedTitle }}" type="Web Components Club" />
</head>
<body>
    <div class="wrapper">
        <header role="banner">
            <h1>Web Components Club</h1>
            <a class="visually-hidden" href="#main-content">Skip to main content</a>
            <nav>
                <ul>
                    {% for item in nav.items %}
                        <li>
                            <a href="{{ item.url }}"{{ 'rel=external' if item.external }}>{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <hr />
        <footer role="contentinfo">
            <p>A project by <a href="//twitter.com/hankchizljaw" rel="external">HankChizlJaw</a> — Proudly powered by <a href="//11ty.io">11ty</a></p>
        </footer>
    </div>
</body> 
</html>
