<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>{% include "assets/css/global.css" %}</style>
    {% include 'meta-info.html' %}
    <link rel="alternate" href="https://webcomponents.club/feed/feed.xml" title="{{ feedTitle }}" type="Web Components Club" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/174183/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/174183/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/174183/favicon-16x16.png" />
    <link rel="manifest" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/174183/site.webmanifest" />
    <link rel="mask-icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/174183/safari-pinned-tab.svg" color="#bd3617" />
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/174183/favicon.ico" />
    <meta name="msapplication-TileColor" content="#f3f3f3" />
    <meta name="msapplication-config" content="https://s3-us-west-2.amazonaws.com/s.cdpn.io/174183/browserconfig.xml" />
    <meta name="theme-color" content="#f3f3f3" />
</head>
<body>
    <div class="wrapper">
        <header role="banner">
            <h1>Web Components Club</h1>
            <a class="visually-hidden" href="#main-content">Skip to main content</a>
            <nav>
                <ul>
                    {% for item in nav.items %}
                        <li>
                            <a href="{{ item.url }}"{{ 'rel=external' if item.external }}>{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <hr />
        <footer role="contentinfo">
            <p>A project by <a href="//twitter.com/hankchizljaw" rel="external">HankChizlJaw</a> — Proudly powered by <a href="//11ty.io" rel="external">11ty</a></p>
        </footer>
    </div>
</body> 
</html>
