{% extends "layouts/base.njk" %}

{% block page_title %}A web components learning journal{% endblock %}

{% block content %}
    <main id="main-content">
        <section class="post-list">
            {% for item in collections.journal %}
                <article>
                    <h2>
                        <a href="{{ item.url }}">{{ item.data.title }}</a>
                    </h2>
                    <p class="date"><time datetime="{{ item.data.date }}">{{ item.data.date | date }}</time></p>
                    {{ item.templateContent | safe }}
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}
