{% extends "layouts/base.njk" %}

{% block page_title %}Web Components Club{% endblock %}

{% block content %}
    <main id="main-content">
        <article class="generic-content">
            <h2 class="heading heading--primary">{{ title }}</h2>
            {{ content | safe }}
        </article>
    </main>
{% endblock %}
